#tourButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  z-index: 1000;
  cursor: pointer;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-in-out;
}

#tourButton.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}


@media (prefers-color-scheme: dark) {
  #tourButton {
    background-color: rgba(45, 45, 45, 0.95);
    color: #e0e0e0;
    border: 1px solid #444;
  }
}

/* tour color scheme */
.tg-dialog.custom{
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  color: #333333;
}
@media (prefers-color-scheme: dark) {
  .tg-dialog.custom {
    background-color: rgba(45, 45, 45, 0.95);
    border: 1px solid #444;
    color: #e0e0e0;
    
  }
}

/* --- Mobile View --- */
@media (max-width: 768px) {
  #tourButton {
    width: auto; /* Overrides the 100% width from general buttons */
    font-size: 14px;
    padding: 6px 10px;
  }
}