/* Make left and right panels fit side by side */
#container {
  display: flex;
  height: 100%; 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Make sure left panel has minimum width and guess history has scroll */
#leftPanel {
  width: 15%;
  min-width: 260px;
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: scroll;
}
@media (prefers-color-scheme: dark) {
  #leftPanel {
    background-color: #2d2d2d;
  }
}

/* Right panel fills the rest of the screen */
#rightPanel {
  position: relative;
  width: 85%;
  overflow: hidden;
}

#dashboard {
  margin-top: 20px;
}

/* --- Mobile View --- */
@media (max-width: 768px) {
  #container {
    flex-direction: column-reverse; /* Map on top, inputs on bottom */
  }
  
  #leftPanel, #rightPanel {
    width: 100%;
    min-width: 0; /* Override desktop min-width */
    flex: 1; /* Split screen 50/50 */
    box-sizing: border-box;
  }
  
  #leftPanel {
    padding: 15px;
    height: 50%;
  }

  #rightPanel {
    height: 50%;
  }
}